<div class="container">
<div class="row">
<div class="col-sm-6">
<table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th data-breakpoints="lg xs md sm">First Name</th>
                <th data-breakpoints="lg xs md sm">Last Name</th>
                <th data-breakpoints="lg xs md sm">Age</th>
                <th data-breakpoints="lg xs md sm">Living place</th>
                <th data-breakpoints="lg xs md sm">Hobbies</th>
                <th>Pets</th>
                <th>Social activity</th>
            </tr>
            </thead>

            <tbody>
               
            <tr>
                <td>1234</td>
                <td>Item2</td>
                <td>Item3</td>
                <td>Item4</td>
                <td>Item3</td>
                <td>Item4</td>
                <td>Item5</td>
                <td>Item6</td>
            </tr>
            
            </tbody>

        </table>
</div>
<div class="col-sm-6">
</div>
</div>
